* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  color: white !important;
}
#root {
  height: 100%;
}
.wrapper {
  height: 667px;
}
/* header contents */
.navbar-toggler-icon {
  font-weight: 500;
}
.navbar-nav {
  text-align: center;
}
Link {
  color: white;
}
/* beginning of main contents */
.main {
  text-align: center;
  padding: 20px;
}
b {
  font-weight: 500;
  color: whitesmoke;
}
a {
  color: inherit;
}
.buttton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.btn {
  background-color: #16161a;
  color: #fff;
  padding: 0.7rem 2rem;
  font-size: var(--small-font);
  border: 1px solid transparent;
  border-radius: 0px;
  height: fit-content;
  width: 100%;
  font-weight: 500;
}
.btn:hover {
  color: white !important;
  border: 1px solid #a6a6a7;
}
input {
  background-color: darkgray !important;
  outline: none;
  width: 100%;
  color: #fff !important;
}
input:hover {
  border: none;
  outline: none;
}
/* home section */
.main {
  display: block;
}

/*  */

/* works section */
.content {
  padding: 10px;
  width: 100%;
}
.work-header h2 {
  text-align: center;
}
.works h3 {
  color: whitesmoke;
}
.works {
  background-color: #16161a;
  padding: 10px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px 0px black;
}
.works:hover {
  transform: scale(1.12);
}
.work-info a {
  margin: 2px;
  text-decoration: underline;
}

.desktop-view {
  display: none;
}

.form-group {
  padding: 20px;
}
.form h4 {
  text-align: center;
}
.bn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin-top: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.about-header {
  text-align: center;
}
.socials {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.last {
  display: flex;
  justify-content: center;
}

.container {
  transition: all 0.3s ease-in-out;
}

/*  */
@media only screen and (min-width: 600px) {
  #root {
    height: 100%;
  }
  .wrapper {
    height: fit-content;
  }
  .works {
    width: 50%;
    margin: auto;
    margin-top: 10px;
  }
  .work-header h2 {
    text-align: center;
  }
  .desktop-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .works-link {
    display: none;
  }
  .contact {
    width: -webkit-fill-available;
  }
  hr {
    background-color: darkgray;
    width: 100%;
  }
  .mobile-header {
    display: none;
  }
}
/*  */
@media only screen and (min-width: 768px) {
  #root {
    height: fit-content;
  }
  .wrapper {
    height: fit-content;
  }
  .main {
    display: flex;
    text-align: left;
  }
  .info {
    text-align: -webkit-center;
    flex-basis: 50%;
  }
  p.text {
    text-align: center;
    width: 50%;
  }
  .main h2 {
    text-align: center;
  }
  .button {
    width: 35%;
  }
  .works {
    width: 50%;
    margin-top: 15px;
  }
  .content h2 {
    text-align: center;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: auto; */
  }
  .desktop-view {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  .mobile-header {
    display: none;
  }
  .desktop-header {
    display: flex;
    flex-direction: column;
  }
  .sec-desktop-view {
    display: flex;
  }
}
